In [10]:
x = 6

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df= pd.read_csv ("2023-QS-World-University-Rankings.csv", encoding='unicode_escape')

In [7]:
df.head

<bound method NDFrame.head of      Rank2023;Rank2022;InstitutionName;location code;location;size;focus;research;age band;status;ar score;ar rank;er score;er rank;fsr score;fsr rank;cpf score;cpf rank;ifr score;ifr rank;isr score;isr rank;irn score;irn rank;ger score;ger rank;score scaled
0     1;1;Massachusetts Institute of Technology (MIT...
1     2;  3=;University of Cambridge;UK;United Kingd...
2     3;  3=;Stanford University;US;United States;L;...
3     4;2;University of Oxford;UK;United Kingdom;L;F...
4     5;5;Harvard University;US;United States;L;FC;V...
...                                                 ...
1417  1401+;1201+;Universidad Nacional Aut¢noma de H...
1418  1401+;1201+;Universidad Tecnol¢gica de Bol¡var...
1419  1401+;1201+;Universit Mohammed V de Rabat;MA;...
1420  1401+;;University of Craiova;RO;Romania;L;CO;H...
1421  1401+;;University of Oradea;RO;Romania;L;FC;MD...

[1422 rows x 1 columns]>

In [8]:
df.shape

(1422, 1)

In [12]:
df.columns

Index(['Rank2023;Rank2022;InstitutionName;location code;location;size;focus;research;age band;status;ar score;ar rank;er score;er rank;fsr score;fsr rank;cpf score;cpf rank;ifr score;ifr rank;isr score;isr rank;irn score;irn rank;ger score;ger rank;score scaled'], dtype='object')

In [19]:
df= df.Rank2023;Rank2022;InstitutionName;location code;location;size;focus;research;age band;status;ar score;ar rank;er score;er rank;fsr score;fsr rank;cpf score;cpf rank;ifr score;ifr rank;isr score;isr rank;irn score;irn rank;ger score;ger rank;score scaled(";", expand=True)

SyntaxError: invalid syntax (4138037430.py, line 1)